<!-- Used for nav bar, importing base js files etc. Shared across all templates -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/Chart.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/checkbox1.css">
    <script type="text/javascript" src="/static/js/loader.js"></script>
    
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
    <title>Shed System Control</title>
</head>
<div class="topnav">
    <a href="#home">Home</a>
    <a href="maq20_overview.html">MAQ 20</a>
    <a href="permeation.html">Permeation Testing</a>
    <a href="health">All Health</a>
    <a href="all_control">Manual Control</a>
    <a href="#about">About</a>
    
  </div>
<body>
    {% block content %} {% endblock %}
</body>
</html>