<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/jquery-3.3.1.min.js"></script>
<!--    <script src="static/js/socket.io.js"></script>-->
    <script src="static/js/Chart.bundle.js"></script>
<!--    <script src="static/js/application.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <title>Shed System Control</title>
</head>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="maq20_overview.html">MAQ 20</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
<body>
    {% block content %} {% endblock %}
</body>
</html>