{% extends "base.html" %}

{% block content %}
<script src="static/js/maq20_overview.js"></script>
<body>
    <div class="maq20_grid">
    <h3>Maq 20</h3>
    <div class="module">
        <p>Module 1</p>
        <div id="mod1_0">0.000</div>
        <div id="mod1_1">0.000</div>
        <div id="mod1_2">0.000</div>
        <div id="mod1_3">0.000</div>
        <div id="mod1_4">0.000</div>
        <div id="mod1_5">0.000</div>
        <div id="mod1_6">0.000</div>
        <div id="mod1_7">0.000</div>
    </div>
    <div class="module">
        <p>Module 2</p>
        <div id="mod2_0">0.000</div>
        <div id="mod2_1">0.000</div>
        <div id="mod2_2">0.000</div>
        <div id="mod2_3">0.000</div>
        <div id="mod2_4">0.000</div>
        <div id="mod2_5">0.000</div>
        <div id="mod2_6">0.000</div>
        <div id="mod2_7">0.000</div>
    </div>
    <div class="module">
        <p>Module 3</p>
        <div id="mod3_0">0.000</div>
        <div id="mod3_1">0.000</div>
        <div id="mod3_2">0.000</div>
        <div id="mod3_3">0.000</div>
        <div id="mod3_4">0.000</div>
        <div id="mod3_5">0.000</div>
        <div id="mod3_6">0.000</div>
        <div id="mod3_7">0.000</div>
    </div>
    <div class="module">
        <p>Module 4</p>
        <div id="mod4_0">0.000</div>
        <div id="mod4_1">0.000</div>
        <div id="mod4_2">0.000</div>
        <div id="mod4_3">0.000</div>
        <div id="mod4_4">0.000</div>
        <div id="mod4_5">0.000</div>
        <div id="mod4_6">0.000</div>
        <div id="mod4_7">0.000</div>
    </div>
    <div class="module">
        <p>Module 5</p>
        <div id="mod5_0">0.000</div>
        <div id="mod5_1">0.000</div>
        <div id="mod5_2">0.000</div>
        <div id="mod5_3">0.000</div>
        <div id="mod5_4">0.000</div>
        <div id="mod5_5">0.000</div>
        <div id="mod5_6">0.000</div>
        <div id="mod5_7">0.000</div>
    </div>
    <div class="module">
        <p>Module 6</p>
        <div id="mod6_0">0.000</div>
        <div id="mod6_1">0.000</div>
        <div id="mod6_2">0.000</div>
        <div id="mod6_3">0.000</div>
        <div id="mod6_4">0.000</div>
        <div id="mod6_5">0.000</div>
        <div id="mod6_6">0.000</div>
        <div id="mod6_7">0.000</div>
    </div>
    <div class="module">
        <p>Module 7</p>
        <div id="mod7_0">0.000</div>
        <div id="mod7_1">0.000</div>
        <div id="mod7_2">0.000</div>
        <div id="mod7_3">0.000</div>
        <div id="mod7_4">0.000</div>
        <div id="mod7_5">0.000</div>
        <div id="mod7_6">0.000</div>
        <div id="mod7_7">0.000</div>
    </div>
    <div class="module">
        <p>Module 8</p>
        <div id="mod8_0">0.000</div>
        <div id="mod8_1">0.000</div>
        <div id="mod8_2">0.000</div>
        <div id="mod8_3">0.000</div>
        <div id="mod8_4">0.000</div>
        <div id="mod8_5">0.000</div>
        <div id="mod8_6">0.000</div>
        <div id="mod8_7">0.000</div>
    </div>
    </div>
</body>
{% endblock %}
