 * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .main_flow {
    background-color: #f1f1f1;
    /* padding: 20px; */
    /*text-align: center;*/
    font-size: 35px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    background-color: whitesmoke ;
    float: left;
    width: 32.5%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    background-color: whitesmoke ;
    content: "";
    display: table;
    clear: both;
    text-align: center;
    align-content: center;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  /* hot/cold container*/
  .hotcold{
    width: 33%;
  }

  /* hot/cold container*/
  .hot_head{
    background-color: rgb(255, 123, 123);
    width: 33%; 
    padding: 5px;
    text-align: center;
    font-size: 40px;
  }
  .cold_head{
    background-color: rgb(127, 177, 252);
    padding: 5px;
    width: 33%;
    font-size: 40px;
    text-align: center;
  }
  

  /* Main table variable */
  .main_table{
    
    
    text-align: center;

  }
  th {
    border: 2px solid #000000;
  }
  
  table {
    text-align: center;
    margin: 20px auto;
  }
  
  td {
    border: 2px solid #000000;
    width: 30px;
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }