html, body {
  margin: 0;
  padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a:active {
    background-color: #1a1df5;
    color: white;
  }

  .currentLink {
    color: white;
    background-color: #1a1df5;
 }

.maq20_grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}  

.module {
  display: inline-block;
  margin-left: 10px;
  text-align: right;
}
div {
  margin-left: 5px;
  margin-right: 5px
}
.inline {
  display: inline-flex;
  margin-left: 5px;
  margin-right: 5px;
}

.permeation_grid {
  display: grid;
  grid-template: 100px 500px / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  background-color: lightgray;
  margin: auto;
  
}
.permeation_overview {
  grid-area: 1 / 2 / span 1 / span 8;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 3px;
}
.permeation_controls {
  grid-area: 2 / 1 / span 3 / span 2;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 3px;
}

.bold {
  font-weight: Bold;
}

.white_background {
  background-color: white;
}

.range_normal {
  background-color: hsla(0, 100%, 50%, 0);
}

.range_high {
  background-color: hsla(0, 100%, 50%, 1);
}

.range_low {
  background-color: hsla(220, 100%, 50%, 1);
}